@model DV_MvcApp.Models.DV_Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DV_Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DV_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DV_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DV_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DV_LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DV_AuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
