@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Aplicación DV</h1>
    <p>Seleccione una opción:</p>
    <div class="mt-3">
        <a href="@Url.Action("Index", "DV_Author")" class="btn btn-primary mr-2">Autores</a>
        <a href="@Url.Action("Index", "DV_Book")" class="btn btn-primary">Libros</a>
    </div>
</div>
